[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "modules/zsh"]
	path = modules/zsh
	url = https://github.com/breidh/puppet-zsh.git
[submodule "modules/n"]
	path = modules/n
	url = https://github.com/hstkk/puppet-n.git
